<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="avatar (avatar)">
        <img th:unless="${#strings.isEmpty(avatar)}"
             th:src="${avatar}"
             th:title="${title}"
             th:alt="${alt}"
             th:style="${#strings.isEmpty(size) ? '--size: 22px' : '--size: ' + size}"
             class="avatar me-1"
        />

        <figure th:if="${#strings.isEmpty(avatar)}" class="avatar me-1" th:style="${#strings.isEmpty(size) ? '--size: 22px' : '--size: ' + size}">
            <svg th:replace="~{fragments/icon :: icon (name='user', size='icon-xl')}"></svg>
        </figure>
    </th:block>
</body>