<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="heading">
    <div class="heading">
        <i class="heading-icon">
            <img th:replace="~{fragments/avatar :: avatar (
                avatar=${avatar},
                title=${title},
                alt=${title},
                size='64px'
            )}">
        </i>
        <div class="heading-content">
            <h2 class="heading-title" th:text="${title}">Konfigyr</h2>
            <p class="heading-subtitle" th:if="${subtitle}" th:text="${subtitle}">
                The only configuration management service you will need.
            </p>
        </div>
    </div>
</th:block>
</body>
