/**
 * Accordion (<details>)
 */

details {
  display: block;
  margin-bottom: var(--konfigyr-spacing);

  summary {
    line-height: 1rem;
    list-style-type: none;
    transition: color var(--konfigyr-transition);
    cursor: pointer;

    &:not([role]) {
      color: var(--konfigyr-accordion-close-summary-color);
    }

    // Reset marker
    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &::-moz-list-bullet {
      list-style-type: none;
    }

    // Marker
    &::after {
      display: block;
      width: 1rem;
      height: 1rem;
      margin-inline-start: calc(var(--konfigyr-spacing, 1rem) * 0.5);
      float: right;
      transform: rotate(-90deg);
      transition: transform var(--konfigyr-transition);
      background-image: var(--konfigyr-icon-chevron);
      background-position: right center;
      background-size: 1rem auto;
      background-repeat: no-repeat;
      content: "";
    }

    &:focus {
      outline: none;

      &:not([role]) {
        color: var(--konfigyr-accordion-active-summary-color);
      }
    }

    &:focus-visible {
      &:not([role]) {
        outline: var(--konfigyr-outline-width) solid var(--konfigyr-primary-focus);
        outline-offset: calc(var(--konfigyr-spacing, 1rem) * 0.5);
        color: var(--konfigyr-primary);
      }
    }

    // Type button
    &[role="button"] {
      width: 100%;
      text-align: left;

      // Marker
      &::after {
        height: calc(1rem * var(--konfigyr-line-height, 1.5));
      }
    }
  }

  // Open
  &[open] {
    > summary {
      margin-bottom: var(--konfigyr-spacing);

      &:not([role]) {
        &:not(:focus) {
          color: var(--konfigyr-accordion-open-summary-color);
        }
      }

      &::after {
        transform: rotate(0);
      }
    }
  }
}

[dir="rtl"] {
  details {
    summary {
      text-align: right;

      &::after {
        float: left;
        background-position: left center;
      }
    }
  }
}
