/**
 * Card (<article>, .card)
 */

article, .card {
  margin-bottom: var(--konfigyr-card-spacing-vertical);
  padding: var(--konfigyr-card-spacing-vertical)
    var(--konfigyr-card-spacing-horizontal);
  border-radius: var(--konfigyr-card-border-radius);
  background: var(--konfigyr-card-background-color);
  box-shadow: var(--konfigyr-card-box-shadow);

  > header,
  > footer {
    margin-right: calc(var(--konfigyr-card-spacing-horizontal) * -1);
    margin-left: calc(var(--konfigyr-card-spacing-horizontal) * -1);
    padding: calc(var(--konfigyr-card-spacing-vertical) * 0.5)
      var(--konfigyr-card-spacing-horizontal);
    background-color: var(--konfigyr-card-sectioning-background-color);

    p:last-child {
      margin-bottom: 0;
    }
  }

  > header {
    margin-top: calc(var(--konfigyr-card-spacing-vertical) * -1);
    margin-bottom: var(--konfigyr-card-spacing-vertical);
    border-bottom: var(--konfigyr-border-width)
      solid
      var(--konfigyr-card-sectioning-border-color);
    border-top-right-radius: var(--konfigyr-border-radius);
    border-top-left-radius: var(--konfigyr-border-radius);
  }

  > footer {
    margin-top: var(--konfigyr-card-spacing-vertical);
    margin-bottom: calc(var(--konfigyr-card-spacing-vertical) * -1);
    border-top: var(--konfigyr-border-width)
      solid
      var(--konfigyr-card-sectioning-border-color);
    border-bottom-right-radius: var(--konfigyr-border-radius);
    border-bottom-left-radius: var(--konfigyr-border-radius);
  }
}
