@import "../colors";
@import "../helpers/functions";
@import "theme-colors";

// Default: Light theme
:root {
  --konfigyr-background-color: #{$white};

  // Text color
  --konfigyr-color: #{$zinc-750};

  // Text selection color
  --konfigyr-text-selection-color: #{get_theme_color("text-selection-color", "light")};

  // Muted colors
  --konfigyr-muted-color: #{$zinc-550};
  --konfigyr-muted-border-color: #{mix($slate-100, $slate-50)};

  // Primary colors
  --konfigyr-primary: #{get_theme_color("primary", "light")};
  --konfigyr-primary-background: #{get_theme_color("primary-background", "light")};
  --konfigyr-primary-border: var(--konfigyr-primary-background);
  --konfigyr-primary-underline: #{get_theme_color("primary-underline", "light")};
  --konfigyr-primary-hover: #{get_theme_color("primary-hover", "light")};
  --konfigyr-primary-hover-background: #{get_theme_color("primary-hover-background", "light")};
  --konfigyr-primary-hover-border: var(--konfigyr-primary-hover-background);
  --konfigyr-primary-hover-underline: var(--konfigyr-primary-hover);
  --konfigyr-primary-focus: #{get_theme_color("primary-focus", "light")};
  --konfigyr-primary-inverse: #{get_theme_color("primary-inverse", "light")};

  // Secondary colors
  --konfigyr-secondary: #{$slate-550};
  --konfigyr-secondary-background: #{$slate-600};
  --konfigyr-secondary-border: var(--konfigyr-secondary-background);
  --konfigyr-secondary-underline: #{rgba($slate-550, 0.5)};
  --konfigyr-secondary-hover: #{$slate-650};
  --konfigyr-secondary-hover-background: #{$slate-650};
  --konfigyr-secondary-hover-border: var(--konfigyr-secondary-hover-background);
  --konfigyr-secondary-hover-underline: var(--konfigyr-secondary-hover);
  --konfigyr-secondary-focus: #{rgba($slate-550, 0.25)};
  --konfigyr-secondary-inverse: #{$white};

  // Contrast colors
  --konfigyr-contrast: #{$slate-900};
  --konfigyr-contrast-background: #{$slate-900};
  --konfigyr-contrast-border: var(--konfigyr-contrast-background);
  --konfigyr-contrast-underline: #{rgba($slate-900, 0.5)};
  --konfigyr-contrast-hover: #{$black};
  --konfigyr-contrast-hover-background: #{$black};
  --konfigyr-contrast-hover-border: var(--konfigyr-contrast-hover-background);
  --konfigyr-contrast-hover-underline: var(--konfigyr-secondary-hover);
  --konfigyr-contrast-focus: #{rgba($slate-550, 0.25)};
  --konfigyr-contrast-inverse: #{$white};

  // Box shadow
  --konfigyr-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24), 0 0 3px rgba(0, 0, 0, 0.08);

  // Typography
  // Headings colors
  --konfigyr-h1-color: #{$zinc-800};
  --konfigyr-h2-color: #{$zinc-750};
  --konfigyr-h3-color: #{$zinc-700};
  --konfigyr-h4-color: #{$zinc-650};
  --konfigyr-h5-color: #{$zinc-600};
  --konfigyr-h6-color: #{$zinc-550};

  // Highlighted text (<mark>)
  --konfigyr-mark-background-color: #{mix($amber-100, $amber-50)};
  --konfigyr-mark-color: #{$zinc-950};

  // Inserted (<ins>) & Deleted (<del>)
  --konfigyr-ins-color: #{mix($jade-450, $zinc-750)};
  --konfigyr-del-color: #{$red-550};

  // Blockquote
  --konfigyr-blockquote-border-color: var(--konfigyr-muted-border-color);
  --konfigyr-blockquote-footer-color: var(--konfigyr-muted-color);

  // Button
  // To disable box-shadow, remove the var or set to '0 0 0 rgba(0, 0, 0, 0)'
  // Don't use, 'none, 'false, 'null', '0', etc.
  --konfigyr-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --konfigyr-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  // Table
  --konfigyr-table-border-color: var(--konfigyr-muted-border-color);
  --konfigyr-table-row-stripped-background-color: #{rgba($zinc-500, 0.0375)};

  // Code
  --konfigyr-code-background-color: #{mix($slate-50, $white, 75%)};
  --konfigyr-code-color: #{$zinc-550};
  --konfigyr-code-kbd-background-color: var(--konfigyr-color);
  --konfigyr-code-kbd-color: var(--konfigyr-background-color);

  // Form elements
  --konfigyr-form-element-background-color: #{mix($slate-50, $white, 25%)};
  --konfigyr-form-element-selected-background-color: #{$slate-100};
  --konfigyr-form-element-border-color: #{$slate-150};
  --konfigyr-form-element-color: #{$zinc-850};
  --konfigyr-form-element-placeholder-color: var(--konfigyr-muted-color);
  --konfigyr-form-element-active-background-color: #{$white};
  --konfigyr-form-element-active-border-color: var(--konfigyr-primary-border);
  --konfigyr-form-element-focus-color: var(--konfigyr-primary-border);
  --konfigyr-form-element-disabled-opacity: 0.5;
  --konfigyr-form-element-invalid-border-color: #{mix($red-500, $zinc-350)};
  --konfigyr-form-element-invalid-active-border-color: #{mix($red-500, $zinc-350, 75%)};
  --konfigyr-form-element-invalid-focus-color: var(--konfigyr-form-element-invalid-active-border-color);
  --konfigyr-form-element-valid-border-color: #{mix($jade-450, $zinc-350)};
  --konfigyr-form-element-valid-active-border-color: #{mix($jade-450, $zinc-350, 75%)};
  --konfigyr-form-element-valid-focus-color: var(--konfigyr-form-element-valid-active-border-color);

  // Focus for buttons, radio and select
  input:is(
      [type="submit"],
      [type="button"],
      [type="reset"],
      [type="checkbox"],
      [type="radio"],
      [type="file"]
    ) {
    --konfigyr-form-element-focus-color: var(--konfigyr-primary-focus);
  }

  // Switch (input[type="checkbox"][role="switch"])
  --konfigyr-switch-background-color: #{$slate-200};
  --konfigyr-switch-checked-background-color: var(--konfigyr-primary-background);
  --konfigyr-switch-color: #{$white};
  --konfigyr-switch-thumb-box-shadow: get_theme_color("switch-thumb-box-shadow", "light");

  // Range (input[type="range"])
  --konfigyr-range-border-color: #{$slate-100};
  --konfigyr-range-active-border-color: #{$slate-200};
  --konfigyr-range-thumb-border-color: var(--konfigyr-background-color);
  --konfigyr-range-thumb-color: var(--konfigyr-secondary-background);
  --konfigyr-range-thumb-active-color: var(--konfigyr-primary-background);

  // Accordion (<details>)
  --konfigyr-accordion-border-color: var(--konfigyr-muted-border-color);
  --konfigyr-accordion-active-summary-color: var(--konfigyr-primary-hover);
  --konfigyr-accordion-close-summary-color: var(--konfigyr-color);
  --konfigyr-accordion-open-summary-color: var(--konfigyr-muted-color);

  // Card (<article>)
  --konfigyr-card-background-color: var(--konfigyr-background-color);
  --konfigyr-card-box-shadow: var(--konfigyr-box-shadow);
  --konfigyr-card-sectioning-background-color: #{mix($slate-50, $white, 25%)};

  // Empty Space (.empty-space)
  --konfigyr-empty-state-box-shadow: var(--konfigyr-box-shadow);

  // Dropdown (details.dropdown)
  --konfigyr-dropdown-background-color: #{$white};
  --konfigyr-dropdown-border-color: #{$slate-50};
  --konfigyr-dropdown-box-shadow: var(--konfigyr-box-shadow);
  --konfigyr-dropdown-color: var(--konfigyr-color);
  --konfigyr-dropdown-hover-background-color: #{$slate-50};

  // Loading ([aria-busy=true])
  --konfigyr-loading-spinner-opacity: 0.5;

  // Modal (<dialog>)
  --konfigyr-modal-overlay-background-color: #{rgba(mix($zinc-100, $zinc-50), 0.75)};

  // Navigation (<nav>)
  --konfigyr-nav-link-color: var(--konfigyr-color);
  --konfigyr-nav-link-background-color: transparent;
  --konfigyr-nav-link-color-hover: var(--konfigyr-primary);
  --konfigyr-nav-link-background-color-hover: #{rgba(mix($zinc-100, $zinc-50), 0.5)};
  --konfigyr-nav-link-color-active: var(--konfigyr-primary);
  --konfigyr-nav-link-background-color-active: transparent;

  // Progress
  --konfigyr-progress-background-color: #{$slate-100};
  --konfigyr-progress-color: var(--konfigyr-primary-background);

  // Tooltip ([data-tooltip])
  --konfigyr-tooltip-background-color: var(--konfigyr-contrast-background);
  --konfigyr-tooltip-color: var(--konfigyr-contrast-inverse);

  // Form validation icons
  --konfigyr-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{display-rgb(mix($jade-450, $zinc-350))}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --konfigyr-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{display-rgb(mix($red-500, $zinc-350, 75%))}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");

  // Document
  color-scheme: light;
}