<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mail/layout}"
      lang="en">
<head>
    <title th:text="#{mail.welcome}">Welcome to Konfigyr</title>
</head>
<body>
<header layout:fragment="header">
    <h1 th:text="#{mail.welcome}">
        Welcome to Konfigyr
    </h1>
</header>
<main layout:fragment="main">
    <p th:text="${#messages.msg('mail.salutation', name)}">
        Hi John Doe,
    </p>

    <p th:utext="#{mail.welcome.message}">
        Welcome to Konfigyr!
    </p>

    <p th:utext="#{mail.signature}">
        Best regards, Konfigyr team
    </p>
</main>
</body>
</html>
