<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header(namespace, active)">
    <nav class="mt-2 container-fluid" style="--konfigyr-font-size: 0.9rem">
        <ul>
            <li>
                <a th:href="@{/namespace/{slug}(slug=${namespace})}"
                   th:classappend="${active == 'overview' ? 'active' : null}"
                    th:text="#{namespace.nav.overview}">
                    Overview
                </a>
            </li>
            <li>
                <a th:href="@{/namespace/{slug}/repositories(slug=${namespace})}"
                    th:classappend="${active == 'repositories' ? 'active' : null}"
                   th:text="#{namespace.nav.repositories}">
                    Repositories
                </a>
            </li>
            <li>
                <a th:href="@{/namespace/{slug}/applications(slug=${namespace})}"
                   th:classappend="${active == 'applications' ? 'active' : null}"
                   th:text="#{namespace.nav.applications}">
                    Applications
                </a>
            </li>
            <li>
                <a th:href="@{/namespace/{slug}/members(slug=${namespace})}"
                   th:classappend="${active == 'members' ? 'active' : null}"
                   th:text="#{namespace.nav.members}">
                    Members
                </a>
            </li>
            <li>
                <a th:href="@{/namespace/{slug}/settings(slug=${namespace})}"
                   th:classappend="${active == 'settings' ? 'active' : null}"
                   th:text="#{namespace.nav.settings}">
                    Settings
                </a>
            </li>
        </ul>
    </nav>
</th:block>
</body>
