<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="member-information(namespace, member)">
    <div class="d-flex flex-justify-between align-items-center flex-wrap">
        <img th:replace="~{fragments/avatar :: avatar (
                        avatar=${member.avatar},
                        title=${member.displayName},
                        size='60px'
                        )}">

        <div class="flex-grow-1 mx-3">
            <p class="mb-0">
                <strong class="d-block" th:text="${member.displayName}">John Doe</strong>
                <small class="muted" th:text="${member.email}">john.doe@konfigyr.com</small>
            </p>
        </div>

        <div class="mx-3">
                        <span class="badge" th:text="${#messages.msg('namespace.roles.' + member.role)}">
                            Admin
                        </span>
        </div>

        <div sec:authorize="isAdmin(#vars.namespace.slug)"
            th:insert="~{namespaces/fragments/members :: member-actions(namespace=${namespace}, member=${member})}">

        </div>
    </div>
</th:block>

<th:block th:fragment="member-actions(namespace, member)">
    <th:block th:with="update='role-dialog-' + ${member.id.serialize()},remove='remove-dialog-' + ${member.id.serialize()}">
        <details class="dropdown mb-0">
            <summary role="button" aria-haspopup="listbox" class="secondary outline">
                <th:block th:text="#{namespace.members.actions}">Actions</th:block>
            </summary>
            <ul role="listbox" style="--konfigyr-font-size: 0.9rem">
                <li>
                    <button th:attr="data-show-dialog=${update}"
                            th:text="#{namespace.members.actions.update}">
                        Change role
                    </button>
                </li>
                <li>
                    <button th:attr="data-show-dialog=${remove}"
                            th:text="#{namespace.members.actions.remove}">
                        Remove member
                    </button>
                </li>
            </ul>
        </details>

        <th:block th:replace="~{namespaces/fragments/members :: member-update-form(
            element=${update},
            namespace=${namespace},
            member=${member}
        )}" />

        <th:block th:replace="~{namespaces/fragments/members :: member-remove-form(
            element=${remove},
            namespace=${namespace},
            member=${member}
        )}" />

        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="member-update-form(element, namespace, member)">
    <dialog th:id="${element}" class="modal" aria-modal="true">
        <form th:action="@{/namespace/{slug}/members/update(slug=${namespace.slug})}" method="post">
            <input type="hidden" name="member" th:value="${member.id.serialize()}">

            <article>
                <header>
                    <h1 class="fs-6" th:text="${#messages.msg('namespace.members.roles.form.title', member.displayName)}">
                        Change the role of John Doe
                    </h1>
                </header>
                <fieldset name="namespace-type">
                    <legend class="required" th:text="#{namespace.members.roles.form.legend}">
                        Select a role for your team member
                    </legend>

                    <th:block th:replace="~{fragments/forms :: radio-box (
                                        name='role',
                                        option='ADMIN',
                                        value=${member.role},
                                        label=#{namespace.roles.ADMIN},
                                        help=#{namespace.roles.description.ADMIN}
                                    )}"/>
                    <th:block th:replace="~{fragments/forms :: radio-box (
                                        name='role',
                                        option='USER',
                                        value=${member.role},
                                        label=#{namespace.roles.USER},
                                        help=#{namespace.roles.description.USER}
                                    )}"/>
                </fieldset>
                <footer>
                    <button class="secondary" type="reset"
                            th:attr="data-close-dialog=${element}"
                            th:text="#{dialog.close}">
                        Close
                    </button>
                    <button type="submit" th:text="#{namespace.members.roles.form.submit}">
                        Submit
                    </button>
                </footer>
            </article>
        </form>
    </dialog>
</th:block>

<th:block th:fragment="member-remove-form(element, namespace, member)">
    <dialog th:id="${element}" class="modal" aria-modal="true">>
        <article>
            <header>
                <h1 class="fs-6" th:text="#{namespace.members.remove.title}">
                    Removing member from team
                </h1>
            </header>
            <div th:utext="${#messages.msg('namespace.members.remove.confirm', member.displayName)}">
                Are you sure you wish to remove <strong>John Doe</strong> from this namespace?
            </div>
            <footer>
                <form th:action="@{/namespace/{slug}/members/remove(slug=${namespace.slug})}" method="post">
                    <input type="hidden" name="member" th:value="${member.id.serialize()}">

                    <button type="reset" class="secondary"
                            th:attr="data-close-dialog=${element}"
                            th:text="#{dialog.close}">
                        Close
                    </button>

                    <button type="submit" class="outline danger" th:text="#{namespace.members.remove.submit}">
                        Remove member
                    </button>
                </form>
            </footer>
        </article>
    </dialog>
</th:block>

</body>
