
/**
 * Input type file
 */

// 1. Hack to display the outline on the focused file selector button
//    with the forced overflow hidden on the input[type="file"] element.
[type="file"] {
  --konfigyr-color: var(--konfigyr-muted-color);
  margin-left: calc(var(--konfigyr-outline-width) * -1); // 1
  padding: calc(var(--konfigyr-form-element-spacing-vertical) * 0.5) 0;
  padding-left: var(--konfigyr-outline-width); // 1
  border: 0;
  border-radius: 0;
  background: none;

  &::file-selector-button {
    margin-right: calc(var(--konfigyr-spacing) / 2);
    padding: calc(var(--konfigyr-form-element-spacing-vertical) * 0.5)
      var(--konfigyr-form-element-spacing-horizontal);
  }

  &:is(:hover, :active, :focus) {
    &::file-selector-button {
      --konfigyr-background-color: var(--konfigyr-secondary-hover-background);
      --konfigyr-border-color: var(--konfigyr-secondary-hover-border);
    }
  }

  &:focus {
    &::file-selector-button {
      --konfigyr-box-shadow:
        var(--konfigyr-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
        0 0 0 var(--konfigyr-outline-width) var(--konfigyr-secondary-focus);
    }
  }
}
