<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:konfigyr="https://konfigyr.com"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <title th:text="#{login.title}">Login</title>
</head>
<body>

<th:block layout:fragment="header">
    <nav th:replace="~{layout/header :: header (active='login')}">
    </nav>
</th:block>

<main layout:fragment="main" class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <article id="logout-success" th:if="${logout}" class="text-center col-12 col-md-6">
                <p class="mb-0" th:text="#{login.logged-out}"></p>
            </article>

            <article id="oauth-error" th:if="${error}" class="text-center col-12 col-md-6">
                <p th:text="${error.errorCode}" class="text-bolder">
                    insufficient_scope
                </p>
                <p th:if="${error.description}" th:text="${error.description}">
                    Forbidden: Insufficient scope
                </p>
                <a th:if="${error.uri}" th:href="${error.uri}" target="_blank" referrerpolicy="no-referrer">
                    Learn more
                </a>
            </article>
        </div>

        <div class="hero text-center">
            <h1 class="hero-title" th:text="#{konfigyr.hero}">
                Konfigyr
            </h1>
            <p class="hero-text" th:text="#{login.lead}">
                Configuration made easy.
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-xl-4 py-4">
                <a th:each="option : ${options}"
                   th:href="${option.url}"
                   th:classappend="${option.id}"
                   konfigyr:test-selector="oauth-login-button"
                   role="button"
                   class="d-block my-2"
                >
                    <svg th:replace="~{fragments/icon :: icon (name=${option.id})}"></svg>
                    <span th:text="${option.name}">Login option name</span>
                </a>
            </div>
        </div>
    </div>
</main>

</body>
</html>
