<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{namespaces/settings/layout}"
      lang="en">
<head>
    <title th:text="#{namespace.nav.settings}">Settings</title>
</head>

<body>
<th:block layout:fragment="header">
    <nav th:replace="~{layout/header :: header (namespace=${namespace.slug})}">
    </nav>
</th:block>

<th:block layout:fragment="sub-header">
    <nav th:replace="~{namespaces/header :: header (namespace=${namespace.slug}, active='overview')}">
    </nav>
</th:block>

<div layout:fragment="contents">
    <form th:object="${nameForm}" th:action="@{/namespace/{slug}/settings/name(slug=${namespace.slug})}" method="post">
        <section th:replace="~{fragments/forms :: card-fieldset(
            name='value',
            type='text',
            required=true,
            label=#{namespace.settings.name.label},
            help=#{namespace.settings.name.help}
        )}">

        </section>
    </form>

    <form th:object="${urlForm}" th:action="@{/namespace/{slug}/settings/rename(slug=${namespace.slug})}" method="post">
        <section th:replace="~{fragments/forms :: card-fieldset(
            name='value',
            type='slug',
            required=true,
            label=#{namespace.settings.slug.label},
            help=#{namespace.settings.slug.help},
            checkUrl=@{/namespaces/check-name?current={slug}(slug=${namespace.slug})}
        )}">

        </section>
    </form>

    <form th:object="${descriptionForm}" th:action="@{/namespace/{slug}/settings/description(slug=${namespace.slug})}" method="post">
        <section th:replace="~{fragments/forms :: card-fieldset(
            name='value',
            type='textarea',
            label=#{namespace.settings.description.label},
            help=#{namespace.settings.description.help}
        )}">

        </section>
    </form>

    <form th:action="@{/namespace/{slug}/members/remove(slug=${namespace.slug})}"
          th:attr="disabled=${administrators.empty}"
          method="post">
        <input type="hidden" name="member" th:value="${#authentication.name}">

        <section class="card mb-5">
            <h4 th:text="#{namespace.settings.leave.label}">Leave namespace</h4>
            <p th:text="#{namespace.settings.leave.help}">Revoke your access to this namespace.</p>

            <footer class="d-flex align-items-center">
                <small class="flex-grow-1" th:text="#{namespace.settings.leave.notice}">
                    To leave this Namespace, ensure at least one more Member has the adminstrative role.
                </small>
                <button type="submit"
                        class="my-0 mx-auto"
                        th:attr="disabled=${administrators.empty}"
                        th:text="#{namespace.settings.leave.label}">
                    Leave namespace
                </button>
            </footer>
        </section>
    </form>

    <section class="card">
        <h4 th:text="#{namespace.settings.delete.label}">Delete namespace</h4>
        <p th:text="#{namespace.settings.delete.help}">Permanently remove your namespace.</p>

        <footer class="d-flex align-items-center">
            <small class="flex-grow-1" th:text="#{namespace.settings.delete.notice}">
                This action is not reversible.
            </small>
            <button class="my-0 mx-auto"
                    data-show-dialog="delete-confirmation-dialog"
                    th:text="#{namespace.settings.delete.label}">
                Delete namespace
            </button>
        </footer>
    </section>

    <dialog id="delete-confirmation-dialog" class="modal" aria-modal="true">
        <article>
            <header>
                <h2 class="fs-6" th:text="#{namespace.settings.delete.label}">Delete namespace</h2>
            </header>
            <div th:utext="#{namespace.settings.delete.confirmation}">
                Are you sure you wish to remove <strong>John Doe</strong> from this namespace?
            </div>
            <footer>
                <form th:action="@{/namespace/{slug}/delete(slug=${namespace.slug})}" method="post">
                    <button type="reset"
                            class="secondary"
                            data-close-dialog="delete-confirmation-dialog"
                            th:text="#{dialog.close}">
                        Close
                    </button>

                    <button type="submit" class="outline danger" th:text="#{namespace.settings.delete.label}">
                        Delete namespace
                    </button>
                </form>
            </footer>
        </article>
    </dialog>
</div>
</body>
</html>
