# Refuse to install a package version published less than 7 days ago
# (min-release-age is in minutes: 7 * 24 * 60).
# TEMP DIAGNOSTIC: disabled to test whether this is causing the missing
# @vitejs/plugin-react-swc package in the CI Docker build. Revert after diagnosis.
# min-release-age=10080
