<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <title th:text="${namespace.name}">Konfigyr</title>
</head>
<body>

<th:block layout:fragment="header">
    <nav th:replace="~{layout/header :: header (namespace=${namespace.slug})}">
    </nav>
</th:block>

<th:block layout:fragment="sub-header">
    <nav th:replace="~{namespaces/header :: header (namespace=${namespace.slug}, active='overview')}">
    </nav>
</th:block>

<main layout:fragment="main">
    <div class="container">
        <th:block th:replace="~{fragments/heading :: heading(
            avatar=${namespace.avatar},
            title=${namespace.name},
            subtitle=${namespace.description},
        )}" />

        <div class="row">
            <aside class="col-12 col-md-3">
                <ul class="px-0">
                    <li>
                        <a th:href="@{/namespace/{slug}/members(slug=${namespace.slug})}"
                           th:text="#{namespace.nav.members}">
                            Members
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/namespace/{slug}/members/invitations(slug=${namespace.slug})}"
                           th:text="#{namespace.nav.invitations}">
                            Invitations
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="col-12 col-md-9">
                <article th:unless="${invitations.empty}">
                    <table>
                        <thead>
                            <tr>
                                <th th:text="#{invitation.table.labels.recipient}">Recipient</th>
                                <th th:text="#{invitation.table.labels.role}">Role</th>
                                <th th:text="#{invitation.table.labels.sender}">Sender</th>
                                <th th:text="#{invitation.table.labels.expiry-date}">Expiry date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="invitation : ${invitations}">
                                <td>
                                    <th:block th:if="${invitation.recipient.exists}">
                                        <strong class="d-block" th:text="${invitation.recipient.name}">John Doe</strong>
                                        <small class="muted" th:text="${invitation.recipient.email}">john.doe@konfigyr.com</small>
                                    </th:block>

                                    <th:block th:unless="${invitation.recipient.exists}" th:text="${invitation.recipient.email}">
                                        john.doe@konfigyr.com
                                    </th:block>
                                </td>
                                <td>
                                    <span class="badge" th:text="${#messages.msg('namespace.roles.' + invitation.role)}">
                                        User
                                    </span>
                                </td>
                                <td>
                                    <th:block th:if="${invitation.sender}">
                                        <strong class="d-block" th:text="${invitation.sender.name}">Jane Doe</strong>
                                        <small class="muted" th:text="${invitation.sender.email}">jane.doe@konfigyr.com</small>
                                    </th:block>
                                </td>
                                <td>
                                    <time th:attr="datetime=${#temporals.formatISO(invitation.expiryDate)}"
                                          th:text="${#temporals.format(invitation.expiryDate, 'YYYY-MM-dd')}">
                                        2024-09-21
                                    </time>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </article>

                <th:block th:if="${invitations.empty}" th:insert="~{fragments/empty-state :: empty-state(
                    icon='inbox',
                    title=#{invitation.table.labels.empty}
                )}" />
            </div>
        </div>
    </div>
</main>
</body>
</html>