<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <title th:text="${namespace.name}">Konfigyr</title>
</head>
<body>

<th:block layout:fragment="header">
    <nav th:replace="~{layout/header :: header (namespace=${namespace.slug})}">
    </nav>
</th:block>

<th:block layout:fragment="sub-header">
    <nav th:replace="~{namespaces/header :: header (namespace=${namespace.slug}, active='overview')}">
    </nav>
</th:block>

<main layout:fragment="main">
    <div class="container">
        <th:block th:replace="~{fragments/heading :: heading(
            avatar=${namespace.avatar},
            title=${namespace.name},
            subtitle=${namespace.description},
        )}" />

        <div class="row">
            <aside class="col-12 col-md-3">
                <ul class="px-0">
                    <li>
                        <a th:href="@{/namespace/{slug}/members(slug=${namespace.slug})}"
                           th:text="#{namespace.nav.members}">
                            Members
                        </a>
                    </li>
                    <li>
                        <a sec:authorize="isAdmin(#vars.namespace)"
                           th:href="@{/namespace/{slug}/members/invitations(slug=${namespace.slug})}"
                           th:text="#{namespace.nav.invitations}">
                            Invitations
                        </a>
                    </li>
                </ul>
            </aside>

            <div class="col-12 col-md-9">
                <form sec:authorize="isAdmin(#vars.namespace)"
                      th:object="${invitationForm}"
                      th:action="@{/namespace/{slug}/members(slug=${namespace.slug})}"
                      method="post" class="mb-5"
                >
                    <article>
                        <header>
                            <p class="mb-0" th:text="#{invitation.form.header}">
                                Invite new members by email address
                            </p>
                        </header>

                        <div class="row">
                            <div class="col-12 col-md-8" th:with="control=${#forms.control('email')}">
                                <label th:for="${control.id}" th:text="#{invitation.form.labels.email}">
                                    Email address
                                </label>

                                <input
                                        required
                                        type="email"
                                        th:id="${control.id}"
                                        th:name="${control.name}"
                                        th:value="${control.value}"
                                        th:attr="aria-invalid=${control.aria.invalid}, aria-describedby=${control.aria.describedBy}"
                                >

                                <small th:id="${control.errors.id}"
                                       th:text="${control.errors.value}"
                                       th:unless="${#strings.isEmpty(control.errors.value)}"
                                       class="validation-error">
                                    Validation error text
                                </small>
                            </div>
                            <div class="col-12 col-md-4" th:with="control=${#forms.control('role')}">
                                <label th:for="${control.id}" th:text="#{invitation.form.labels.role}">
                                    Role
                                </label>

                                <select
                                        th:id="${control.id}"
                                        th:name="${control.name}"
                                        th:value="${control.value}"
                                        th:attr="aria-invalid=${control.aria.invalid}"
                                        aria-describedby="role-help"
                                >
                                    <option th:each="role : ${T(com.konfigyr.namespace.NamespaceRole).values()}"
                                            th:value="${role}"
                                            th:text="${#messages.msg('namespace.roles.' + role)}">
                                        Namespace Role
                                    </option>
                                </select>
                            </div>

                            <div class="col-12 validation-error" th:if="${#fields.hasGlobalErrors()}">
                                <svg th:replace="~{fragments/icon :: icon (name='alert-circle')}"></svg>
                                <th:block th:errors="*{global}">Errors</th:block>
                            </div>

                            <div class="col-12 text-center" th:if="${success}">
                                <div class="my-3 color-primary">
                                    <svg th:replace="~{fragments/icon :: icon (name='send', size='icon-4x')}"></svg>
                                </div>
                                <th:block class="mx-1" th:utext="${success}">Invite sent</th:block>
                            </div>
                        </div>

                        <footer class="d-flex align-items-center justify-content-between">
                            <small class="flex-grow-1" id="role-help" th:utext="#{invitation.form.help.role}">
                                <strong>User</strong> creates artifacts and uploads property metadata,
                                and an <strong>Admin</strong> has the full administration access of the team.
                            </small>
                            <button type="submit" class="mb-0" data-disable-invalid="true" th:text="#{invitation.form.labels.submit}">
                                Invite
                            </button>
                        </footer>
                    </article>
                </form>

                <form role="search" class="search-form mb-3" method="get">
                    <input name="q"
                           autocomplete="true"
                           autocapitalize="off"
                           spellcheck="false"
                           tabindex="0"
                           th:value="${term}"
                           class="m-0"
                           placeholder="Search members"
                           aria-label="Search members"
                    >
                    <button type="submit">
                        <svg th:replace="~{fragments/icon :: icon (name='search', size='icon-lg')}"></svg>
                    </button>
                </form>

                <article th:each="member : ${members}"
                         th:insert="~{namespaces/fragments/members :: member-information(
                            namespace=${namespace}, member=${member}
                         )}">
                </article>
            </div>
        </div>
    </div>
</main>
</body>
</html>