<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mail}"
      lang="en">
<head>
    <title th:text="${#messages.msg('mail.invitation', namespace)}">
        Invitation to Konfigyr organization
    </title>
</head>
<body>
<header layout:fragment="header">
    <h1 style="margin: 0; text-align: center"
        th:utext="${#messages.msg('mail.invitation.title', sender, namespace)}">
        John invited you to join Konfigyr organization.
    </h1>
</header>

<main layout:fragment="main">
    <p>
        <th:block th:utext="${#messages.msg('mail.invitation.title', sender, namespace)}">
            John invited you to join Konfigyr organization.
        </th:block>
        <th:block th:utext="${#messages.msg('mail.invitation.message', namespaceLink)}">
            Head over to the org page.
        </th:block>
    </p>

    <p>
        <small th:utext="${#messages.msg('mail.invitation.expiry', #temporals.format(expiration, 'EEEE, MMMM d, yyyy'))}">
            This invitation would expire in 7 days.
        </small>
    </p>

    <table>
        <tr>
            <td style="text-align: center; padding: 1rem 0">
                <a th:href="${link}">
                    <th:block th:text="${#messages.msg('mail.invitation.cta', namespace)}">
                        Join organization
                    </th:block>
                </a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>