# Local development configuration example file, please copy this file as `application-local.yml` if you are
# running the Konfigyr API with a Spring Boot `local` profile, e.g. `spring.profiles.active=local`.

server:
  # The port on which the Konfigyr Identity server is running. If you want to use a different port, please update
  # the configuration of the Konfigyr REST API server and Web UI configuration accordingly.
  port: 8081

spring:
  datasource:
    # Connect to the PostgreSQL database specified in the `docker-compose.dev.yml` file. If you want to use a
    # different database, please update the JDBC URL, username and password accordingly.
    url: jdbc:postgresql://localhost:5432/konfigyr
    username: konfigyr-database
    password: konfigyr-database

  # Connect to the SMTP server specified in the `docker-compose.dev.yml` file. If you want to use a
  # different SMTP server, please update the host, port, username and password accordingly.
  mail:
    host: localhost
    port: 2525
    username: konfigyr-smtp
    password: konfigyr-smtp

  security:
    oauth2:
      client:
        registration:
          # Configure the OAuth2 client used to authenticate users against Keycloak. Please update the client ID,
          # secret and issuer URIs accordingly. If you are running Keycloak locally for the first time, follow the
          # instructions on the official documentation page on how to set up a realm, user accounts and OAuth2 clients:
          # https://www.keycloak.org/getting-started/getting-started-docker
          keycloak:
            client-name: Keycloak SSO
            client-id: enter-keycloak-client-id-here
            client-secret: enter-keycloak-client-secret-here
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: openid
            provider: keycloak
        provider:
          keycloak:
            issuer-uri: http://localhost:8888/realms/konfigyr
            user-name-attribute: email

konfigyr:
  crypto:
    master-key:
      # The Key Encryption Key used to seal and unseal Konfigyr keysets. Please feel free to change it if needed.
      # You can generate a new key here: http://konfigyr-web.app.dev.ebf.de/docs/development-guide/development
      value: RrdmFi8AmHSXzalSmdxIxnCYQlfdPzEytzLcvX3STKU=

  identity:
    # The OAuth2 Client registration that Konfigyr Identity server would use to issue OAuth2 and OpenID tokens to
    # Konfigyr Web UI. If you want to change the client ID, secret or redirect URIs, please remember to update
    # your `.env` configuration file for the web application accordingly.
    authorization:
      client-id: konfigyr
      client-secret: "{noop}v2OgV9xxzBw9Np3prtmFIJjYmvESzHPt"
      redirect-uris:
        - "http://127.0.0.1:3000/auth/code"
        - "http://localhost:3000/auth/code"

