spring:
  cache:
    cache-names: crypto-keysets, user-cache
    caffeine:
      spec: expireAfterWrite=1h

  liquibase:
    change-log: classpath:migrations/changelog.xml
    contexts: identity

  messages:
    basename: messages/messages, messages/mail

  mail:
    sender:
      name: Konfigyr
      email: noreply@konfigyr.com

  security:
    oauth2:
      client:
        provider:
          github:
            user-name-attribute: email

  web:
    resources:
      static-locations: classpath:/static/, classpath:/dist/

konfigyr:
  identity:
    authorization:
      client-id: konfigyr
      redirect-uris:
        - "http://127.0.0.1:8080/login/oauth2/code/konfigyr"
        - "https://oauth.pstmn.io/v1/callback"
      post-logout-redirect-uris:
        - "http://127.0.0.1:8080/"
      token:
        access-token-time-to-live: 15m
        refresh-token-time-to-live: 7d

logging:
  pattern:
    console: '%clr(%d{HH:mm:ss.SSS}){faint} %clr([%-20thread]) %clr(%-5level) [%mdc] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %marker %m%n'
