spring:
  application:
    name: konfigyr-api

  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false

  cache:
    cache-names: access-control, crypto-keysets, namespaces

    caffeine:
      spec: recordStats,expireAfterWrite=20m

  mail:
    sender:
      name: Konfigyr
      email: noreply@konfigyr.com

  messages:
     basename: messages/email, messages/problem-detail

  liquibase:
    change-log: migrations/changelog.xml
    contexts: api

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081


  mvc:
    problemdetails:
      enabled: true
